/* The 'game proper'.  Everything that is not in userOptions */
.game {
    display: flex;
    box-sizing: border-box;
    padding: 0;
}

.playingArea {
    --square-size: 50px;

    --board-background: rgb(100,0,0); /* Dark brown*/
    --board-black-square: rgb(165 42 42); /* brown */
    --board-white-square:  rgb(255 248 220); /* cornsilk */
    --active-square-highlight: rgb(200 200 100); /* dark yellow */
}

.players {
    display: flex;
}

.players > * {
    font-size: large;
    margin-right: 0.5em;
}

.currentPlayer {
    text-decoration: underline;
}

.message {
    font-size: large;
}

/* Options to control the game including redo, undo etc. */
.userOptions {
    margin-top: calc(var(--square-size) + 8px /* kludge */ );
    margin-left: 8px;
}

/* A row of buttons */
.userOptionsButtons {
    margin-top: 6px;
}

.userOptions button {
   font-size: 20px;
   width: 3.7em;
   margin-right: 5px;
   padding-left: 0.1em;
   text-align:left;
}

.userOptions button:last-of-type {
       margin-right: 0px;
}

.rowOfPieces {
    display: flex;
    justify-content: center;
    margin: 5px;
}