/* The 'game proper'.  Everything that is not in userOptions */
.playingArea {
    box-sizing: border-box;
    padding: 0;

    margin: 0;
    margin-left: 5%;

    display: inline-flex;
    
    --square-size: 50px;

    --board-background: rgb(100,0,0); /* Dark brown*/
    --board-black-square: rgb(165 42 42); /* brown */
    --board-white-square:  rgb(255 248 220); /* cornsilk */
    --active-square-highlight: rgb(200 200 100); /* dark yellow */
}

/* Options to control the game including redo, undo etc. */
.userOptions {
    margin-top: calc(var(--square-size) + 8px /* kludge */ );
    margin-left: 8px;
}

/* A row of buttons */
.userOptionsButtons {
    margin-top: 6px;
}

.userOptions button {
   font-size: 20px;
   width: 3.5em;
   margin-right: 5px;
}

.userOptions button:last-of-type {
       margin-right: 0px;
}

.board {
    justify-items: center;
    align-items: center;
    background-color: var(--board-background);
}

/* Use of board squares and off-board piece */
.square {
    width: var(--square-size);
    height: var(--square-size);
}

.plainSquare {
    border: 2px solid var(--board-background, brown);
    background-color: var(--board-white-square, white);
}

.blackSquare {
    background-color: var(--board-black-square, black);
}

.whiteSquare {
    background-color: var(--board-white-square, white);
}

.boardBorder {
    color:white;
}

.boarderLetter {
    font-size: 20px;
    padding: 3px 0;
}

.boarderNumber {
    font-size: 25px;
    padding: 0 7px;
}

.rowOfPieces {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.selectedSquare {
    border: yellow 8px solid;
}

.canMoveTo {
    border: green 5px solid;
}