# To allow lookups using the Merriam-Webster Collegiate Dictionary, copy this
# file to .env and fill in a key.  Keys allowing free use, with some limitations,
# can be obtained from https://dictionaryapi.com/
DICTIONARY_API_KEY=
