# To allow lookups using the Merriam-Webster Collegiate Dictionary
# 1) copy this file to .env and fill in a key.  
# 2) Run 'heroku config:set DICTIONARY_API_KEY=<your-key> --app richards-board-games'
#
# Keys allowing free use, with some limitations, can be obtained from https://dictionaryapi.com/
DICTIONARY_API_KEY=
