/* This might be better in the tsx. But I had problems getting that to work*/
.pieceContainer {
    /* Setting the z-index (which required non-static position) 'lifts' a piece
    and so prevent the background being dragged with it. */
    position: relative;
    z-index: 1;

    /* Making the container full size allows it to be clicked or dragged-to
    even when empty. */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.controlledPiece {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;
    z-index: 1;
}