
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    margin-left: 6px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gameLinks {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.gameLinks a {
    margin-left: 1em;
}

.pageNotFound div:first-of-type {
    color: red;
    font-size: 200%;

    margin-bottom: 0.5em;
}

.playerNames {
    display: flex;
}

.playerNames > * {
    margin-right: 1em;
    font-weight: bold;
}

.currentPlayer {
    text-decoration: underline;
}


.lobby {
    font-size:100%; /* place holder */
}

.lobbyGrid  {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px 3px;
    }

.gamePage {
    display: inline-block;
    margin-left: 5%;
}

.gamePage h1 {
    font-size: inherit;
}


.gameLobby {
    display: block;
    padding: 0px 10;
}

.gameLobbyButtons > button {
    margin-right: 2em;
}
