.bobail  {
    height: 80%;
    width: 80%;
    margin: 10%;
    border-radius: 50%;
}

.bobail-p1 {
    background-color: red;
}

.bobail-p2 {
    background-color: green;
}

.bobail-bb {
    background-color: yellow;
}