/* Use simple css rather than a module and ts-node seems not to like css
modules */
.piece__counter {
    height: 80%;
    width: 80%;
    margin: 10%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 150%;
}