body {
    margin: 0;
    margin-left: 6px;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gameLink {
    text-transform: capitalize;
}

.pageNotFound div:first-of-type {
    color: red;
    font-size: 200%;
    
    margin-bottom: 0.5em;

}